
.box {
  max-width: 500px;
  height: 650px;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  overflow: hidden;
}
.loginBox {
  max-width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  overflow: hidden;
}
.homeBox{
  max-width: 1200px;
  height: 700px;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  overflow: hidden;
  text-align: center;
}
.login {

  background-color: rgb(14, 170, 14);
  height: 80px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  font-family: 'Secular One', sans-serif;
  padding-top: 20px;
}

.username,.branch{
  text-align: center;
  margin-top: 40px;
}
.branch{
  margin-top:20px;
}
.uname,.dropdown{
  width: 400px;
  height: 50px;
  outline-color: rgb(14, 170, 14);
  font-size: large;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
}

.password {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 20px;
}

.pword {
  width: 400px;
  height: 50px;
  outline-color: rgb(14, 170, 14);
  font-size: large;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
}

.loginbtn {
  text-align: center;
  margin-top: 20px;
}

.but {
  width: 200px;
  height: 60px;
  background-color: rgb(14, 170, 14);
  color: white;
  font-family: 'Secular One', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.but:hover {
  background-color: black;
}

.or1 {
  text-align: center;
  margin-top: 40px;
  font-family: 'Secular One', sans-serif;
  font-size: 15px;
}

.orsign {
  color:green;
  text-decoration: none;
  font-family: 'Secular One', sans-serif;
  font-size: 15px;
}
.message{
  font-size: small;
}
.error{
  color: red;
}
.success{
  color: rgb(14, 170, 14);
}
.table{
  margin-top: 20px;
  border-color: black;
}
.table th{
  background-color:rgb(14, 170, 14);
  color: white;
}
.table .but{
    width: 100px;
    margin-left: 10px;
    height: 40px;
    font-size: 15px;
}
.table span{
  float: right;
}